<!doctype html>
<html>
<head>
  <title>Dota Draft</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="{{ url_for('static', filename='scripts/script.js') }}"></script>
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='sprites/miniheroes.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/bootstrap.css') }}">
  <link type="text/css" rel="stylesheet" href="{{ url_for('static', filename='styles/style.css') }}">
  <link rel="shortcut icon" href="{{ url_for('static', filename='images/favicon.ico') }}">
</head>
<body>
<svg class="defs-only">
  <filter id="ban-filter" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
    <feColorMatrix type="matrix" 
    values="0.3 0.1 0.1 0 0.5 
            0 0.30 0 0 0.50
            0 0 0.30 0 0.50
            1    0 0 1 0"></feColorMatrix>
  </filter>
  <filter id="picked-filter" color-interpolation-filters="sRGB" x="0" y="0" height="100%" width="100%">
    <feColorMatrix type="matrix" 
    values="0 0 0 0 0.5 
            0 0 0 0 0.50
            0 0 0 0 0.50
            1 0 0 1 0"></feColorMatrix>
  </filter>
</svg>
<div class="container">
  <div id="selector">
    <input id="query-hint" class="form-control col-sm-4" type="text" tabindex="-1" autocomplete="off" readonly=""/>
    <input id="query" class="form-control" type="text" placeholder="All Heroes"/>

    <button id="radiant-pick">Radiant</button>
    <button id="dire-pick">Dire</button>
    <button id="ban">Ban</button>
  </div>
  
  <div id="heroes" class="row">
  </div>

  <hr/>
  <div id="draft" class="row">
    <div id="picks" class="row">
      <div class="col-sm-6 text-center">
        <h2 class="text-muted">Radiant</h2>
        <div>
          <div class="draft" data-team="radiant" data-toggle="tooltip" data-placement="top"></div>
          <div class="draft" data-team="radiant" data-toggle="tooltip" data-placement="top"></div>
          <div class="draft" data-team="radiant" data-toggle="tooltip" data-placement="top"></div>
          <div class="draft" data-team="radiant" data-toggle="tooltip" data-placement="top"></div>
          <div class="draft" data-team="radiant" data-toggle="tooltip" data-placement="top"></div>
        </div>
      </div>
      <div class="col-sm-6 text-center">
        <h2 class="text-muted">Dire</h2>
        <div>
          <div class="draft" data-team="dire" data-toggle="tooltip" data-placement="top"></div>
          <div class="draft" data-team="dire" data-toggle="tooltip" data-placement="top"></div>
          <div class="draft" data-team="dire" data-toggle="tooltip" data-placement="top"></div>
          <div class="draft" data-team="dire" data-toggle="tooltip" data-placement="top"></div>
          <div class="draft" data-team="dire" data-toggle="tooltip" data-placement="top"></div>
        </div>
      </div>
    </div>
    <div id="suggestions" class="row">
      <div id="radiant-suggestions" class="col-sm-6">
        <h2 class="text-muted">Suggestions</h2>
      </div>
      <div id="dire-suggestions" class="col-sm-6">
        <h2 class="text-muted">Suggestions</h2>
      </div>
    </div>
  </div>
  <div class="footer">
    <a href="https://github.com/asparagus">asparagus@github</a> - 2020
  </div>
</div>
</body>
</html>