body {
    background-color: #fafafa;
    font-family: "helvetica", sans-serif;
    font-weight: 500;
    color: #777;
    text-align: center;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

button {
    border: none;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    text-align: center;
    font-size: 16px;
    font-family: sans-serif;
    cursor: pointer;
}

.defs-only {
    display: none;
}

#selector {
    position: relative;
    text-align: center;
    margin-bottom: 30px;
    margin-top: 30px;
}

#selector > input {
    font-size: 2em;
    height: 2em;
    padding: 15px;
    margin-bottom: 5px;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
    -moz-box-sizing: border-box;    /* Firefox, other Gecko */
    box-sizing: border-box;         /* Opera/IE 8+ */
}

#selector > button {
    width: calc(33% - 1px);
    border-radius: 3px;
    font-weight: bold;
}

#selector > button[disabled] {
    background-color: #a7a7a7;
}

#radiant-pick {
    background-color: #4CAF50; /* Green */
}

#radiant-pick.active {
    background-color: #046708; /* Dark Green */
}

#dire-pick {
    background-color: #AF5050; /* Red */
}

#dire-pick.active {
    background-color: #820000; /* Dark Red */
}

#ban {
    background-color: #333; /* Black */
}

.draft {
    font-size: 20px;
    border: 1px dotted #333;
    display: inline-block;
    text-align: center;

    width: 48px;
    height: 48px;

    /* background-color: #fff; */
    border-radius: 16px;
}

.draft:not(.sprite) {
    content: "?";
}

.draft.sprite {
    /* background-color: #fafafa; */
    border-radius: 0px;
    border: 0px;
}

.draft.sprite:hover {
    opacity: 0.5;
}

.sprite {
    display: inline-block;
    width: 32px;
    height: 32px;
    z-index: 1;
    zoom:1.5;
}

.sprite.banned { 
    filter: url(#ban-filter);
}

.sprite.picked { 
    filter: url(#picked-filter);
}

.sprite.unique:not(.banned):not(.disabled) {
    background-color: #e8e275;
    box-shadow: 0 0 10px #e8e275, 0 0 20px #e8e275, 0 0 30px #e8e275, 0 0 40px #e8e275, 0 0 50px #e8e275, 0 0 60px #e8e275, 0 0 70px #e8e275;
}

.sprite.gray, .sprite.disabled {
    filter: grayscale(1);
    -webkit-filter: grayscale(1);
}

#query-hint {
    color: #ccc;
    position: absolute;
    background: #fff;
    z-index: -1;
}

#query {
    position: relative;
    background-color: transparent;
    color: #777;
}

.relative {
    position: relative
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
 }